{% load static i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Analytics
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Simple analytics system" />
    <meta name="author" content="TodoViernes" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      {% render_bundle 'project' 'css' %}
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      {% render_bundle 'vendors' 'js' attrs='defer' %}
      <!-- place project specific Javascript in this file -->
      {% render_bundle 'project' 'js' attrs='defer' %}
    {% endblock javascript %}
  </head>
  <body>
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Analytics</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                {% if ACCOUNT_ALLOW_REGISTRATION %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    </div>
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      <script>
        window.addEventListener('DOMContentLoaded', () => {
          /* Run whatever you want */
          (function() {
            const API_ENDPOINT = 'http://localhost:3000'; // Replace with your Django backend URL

            let sessionId = getCookie('session_id');
            if (!sessionId) {
              sessionId = generateUUID();
              setCookie('session_id', sessionId, 365); // Set for 1 year
              // setCookie('_ur', 'oelooooo', 365); // Set for 1 year
            }

            // Function to track generic events
            window.trackEvent = function(eventType, url = window.location.href) {
              const data = {
                session_id: sessionId,
                event_type: eventType,
                url: url,
                utm_source: getParameterByName('utm_source') || 'organic',
                utm_medium: getParameterByName('utm_medium') || '',
                user_id: getXmx() || '',
              };
              sendDataToServer(`${API_ENDPOINT}/data_events/capture_event/`, data);
            };

            // Function to track purchases
            window.trackPurchase = function(productId, amount) {
              const data = {
                session_id: sessionId,
                product_id: productId,
                amount: amount,
                utm_source: getParameterByName('utm_source') || 'organic',
                utm_medium: getParameterByName('utm_medium') || '',
              };
              sendDataToServer(`${API_ENDPOINT}/data_events/capture_purchase/`, data);
            };

            function sendDataToServer(endpoint, data) {
              fetch(endpoint, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
                },
                body: new URLSearchParams(data).toString(),
              });
            }

            function getCookie(name) {
              let value = '; ' + document.cookie;
              let parts = value.split('; ' + name + '=');
              if (parts.length === 2) return parts.pop().split(';').shift();
            }

            function setCookie(name, value, days) {
              let expires = '';
              if (days) {
                let date = new Date();
                date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
                expires = '; expires=' + date.toUTCString();
              }
              document.cookie = name + '=' + (value || '') + expires + '; path=/';
            }

            function generateUUID() {
              return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
                /[xy]/g,
                function(c) {
                  const r = (Math.random() * 16) | 0,
                    v = c === 'x' ? r : (r & 0x3) | 0x8;
                  return v.toString(16);
                },
              );
            }

            function getXmx() {
              xmx = getCookie('_ur')
              return xmx
            }

            function getParameterByName(name, url = window.location.href) {
              name = name.replace(/[\[\]]/g, '\\$&');
              const regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
              if (!results) return null;
              if (!results[2]) return '';
              return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
          })();
        });
      </script>
    {% endblock inline_javascript %}
  </body>
</html>
